#clients-container{
  height: 100%;
  overflow: auto;
  border-radius: 12px;
}

.client-element{
  margin: 1em;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6C52FE;
  border-radius: 5px;
}
